#root {
  width: 100%;
}

.container{
  max-width: 1440px;
  margin: auto;
  z-index: 1;
}


.video-background-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.title{
  margin: auto;
  position: relative;
  z-index: 1;
  color: #000;
  top: 50%;
}

.rhLinkText {
  color: #06c;
}

h1 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
  margin: 0.5rem 0 0;
}

a {
  color: #06c;
}

.header-list-container {
display: flex;
justify-content: flex-end;
font-size: 24px;
list-style-type: none;
}

li{
  padding: 8px;
}